<nav>
  <%= link_to categories_path do%>
    Go Back
  <% end %>
  <h3>Your Transactions</h3>
  <%= link_to destroy_user_session_path, method: :delete do%>
    <span>Log out</span>
  <%end%>
</nav>
<h3><%= @category.name %></h3>
<h3>$<%= @total %></h3>

<div>
  <div>
    <% @category.activities.reverse.each do |act| %>
      <div>
        <p><%= act.name %> - <%= act.created_at.strftime("%d %m %Y") %></p>
        <p>$<%= act.amount %></p>
      </div>
    <% end %>
  </div>
</div>
<%= link_to new_activity_path do%>
  Add Transaction
<% end %>  
